section.macbook {
    // height: 300px;
    .container-fluid {
        padding: 0px;
        // margin: 0px ;
        // width: 100% !important;
        #carouselMacbook {
            // background-color: red;
            .carousel-inner {
                
                .carousel-item {
                    height: 435px;
                    position: relative;
                    img {
                        position: absolute;
                        left: 0px;
                        right: 0px;
                        margin-left: auto;
                        margin-right: auto;
                        bottom: -5px;
                        width: 600px;
                        }
                        .carousel-itemOne {
                        background-image: url(../img/sliderBackground.jpg);
                        background-size: cover;
                        background-position: center;
                        height: 400px;
                        display: flex;
                        align-items: start;
                        justify-content: center;
                        h1 {
                            margin-top: 0.5em;
                            color: white;
                            font-size: 6em;
                        }
                    }
                }    
                    .carousel-item {
                        height: 435px;
                        position: relative;
                        img {
                            position: absolute;
                            left: 0px;
                            right: 0px;
                            margin-left: auto;
                            margin-right: auto;
                            bottom: -5px;
                            width: 600px;
                        }
                        .carousel-itemTwo {
                        background-image: url(../img/sliderBackground.jpg);
                        background-size: cover;
                        background-position: center;
                        height: 400px;
                        display: flex;
                        align-items: start;
                        justify-content: center;
                        h1 {
                            margin-top: 0.5em;
                            color: white;
                            font-size: 6em;
                        }
                    }
                }    
                    .carousel-item {
                        height: 435px;
                        position: relative;
                        img {
                            position: absolute;
                            left: 0px;
                            right: 0px;
                            margin-left: auto;
                            margin-right: auto;
                            bottom: -5px;
                            width: 600px;
                        }
                        .carousel-itemThree {
                        background-image: url(../img/sliderBackground.jpg);
                        background-size: cover;
                        background-position: center;
                        height: 400px;
                        display: flex;
                        align-items: start;
                        justify-content: center;
                        h1 {
                            margin-top: 0.5em;
                            color: white;
                            font-size: 6em;
                        }
                    }
                }    

            }
            button {
                span.carousel-control-prev-icon {
                    background-color: red;
                    width: 70px;
                    height: 70px;
                    background-size: 30%;
                }
                span.carousel-control-next-icon {
                    background-color: red;
                    width: 70px;
                    height: 70px;
                    background-size: 30%;
                }
            }
        }
    }
}

@media (max-width:700px) {
    section.macbook {
        .container-fluid {
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        img {
                            width: 400px !important;
                        }
                        .responsiveH {
                            h1 {
                            
                            font-size: 4em !important;
                            // background-color: red;
                        }
                        }
                    }
                }
            }
        }
    }

}