section.ContactUs {
    div.container {
        div.row {
            div.col-12 {
                text-align: center;
                h1 {
                    font-size: 4em;
                    margin-bottom: 0.5em;
                }
                p {
                    font-size: 1em;
                    margin-bottom: 2em;
                
                }
            }
            
        }
        div.row {
            
                div.col-lg-3 {
                    text-align: center;
                    height: 100px;
                    // background-color: red;
                    label {
                        font-size: 0.8em;
                    }
                    button {
                        background-color: turquoise;
                        border: none;
                    }
                }
            }
    }
}